* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    justify-items: center;
    align-items: center;
    
}

#title {
    width: 100vw;
    height: 3em;
    background-color: rgb(179, 141, 230);
}

h1 {
    text-align: center;
    font-family: 'Allison', cursive;
    font-size: 2.4em;
    color: rgb(0, 0, 0);
}

#container {
    width: 700px;
    height: 700px;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    border: 1px solid black;
}

#clear-new {
    margin-top: 2em;
    margin-bottom: 1.5em;
    width: 20em;
    height: 2em;
    border: none;
    background-color: transparent;
}

.black-background {
    background-color: black;
}

img {
    transform: rotate(-46deg);
    width: inherit;
    height: 8em;
    object-fit: contain;
    position: relative;
    top: -3em;
    z-index: -1;
}

#button-text {
    position: absolute;
    top: 2.3em;
    font-family: 'Allison', cursive;
    font-size: 1.8em;
}